* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./../images/685.jpg");
  background-size: cover;
}

section#score {
  width: 100%;
}

#board {
  width: 640px;
  height: 640px;
  margin: 2em auto;
}

#board  > div {
  border: 1px solid black;
  float: left;
  width: 64px;
  height: 64px;
}


section#score div {
  float: left;
  width: 15em;
  height: 17em;
  text-align: center;
  padding: 0.5em;
  background-image: url("./../images/submarine(1).png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border: none;
  margin-left: 5%;
  margin-top: 420px;
  color: darkorange;
}

strong {
  font-size: 38px;
}

.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.coin {
  background-image: url('../images/Seagull.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section#over {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  background-color: rgba(255, 255, 0, 0.75);
}

section#over h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: brown;
}

.invisible {
  display: none;
}